@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

* {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}
body {
  background:
    radial-gradient(circle at top, rgba(0, 255, 255, 0.15), transparent 40%),
    var(--background);

  color: var(--foreground);
}

::selection {
  background: #22d3ee;
  color: black;
}
@keyframes gradientMove {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

.animate-gradient {
  animation: gradientMove 6s linear infinite;
}
