@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(0, 255, 255, 0.15), transparent 40%),
    var(--background);

  color: var(--foreground);
}

::selection {
  background: #22d3ee;
  color: black;
}
